/* portfolio.html background styling w/ image url*/

.portfolio-background {
    background-image: url('https://images.unsplash.com/photo-1453814260029-c415b1f0d905?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    min-height: 90%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    
/* portfolio.html: porfolio thumbnails styling*/
  
  .thumbnail {
    padding: 15px;
    box-align: center;
    height: auto; 
    width: auto; 
    display: block;
    margin: 1rem;
}
  